<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-toolbar color="primary" fxFlex="auto" fxLayoutAlign="start center">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon> Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/candidates">Candidates List</button>
      <button mat-menu-item routerLink="/candidate-add">Add Candidate</button>
      <button mat-menu-item routerLink="/data-report">Data Report</button>
    </mat-menu>
  </mat-toolbar>
</div>

<div fxLayout="row">
  <div fxFlex="auto">
    <router-outlet></router-outlet>
  </div>
</div>

