<mat-toolbar color="primary">
  <span>
    {{title}}</span>
  <span class="example-spacer"></span>
  <!-- Full-width navigation for larger screens -->
  <div class="nav-links" *ngIf="activeMediaQuery === 'large'">
    <span *ngIf="loggedIn">
      <a mat-button routerLink="/candidates" routerLinkActive="active">Candidates List</a>
      <a mat-button routerLink="/candidate-add" routerLinkActive="active">Add Candidate</a>
      <a mat-button routerLink="/data-report" routerLinkActive="active">Data Report</a>
      <button mat-button (click)="logout()">Logout</button>
    </span>    
  </div>
  <!-- Collapsible menu for smaller screens -->
  <div *ngIf="activeMediaQuery === 'small' && loggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/candidates">Candidates List</button>
      <button mat-menu-item routerLink="/candidate-add">Add Candidate</button>
      <button mat-menu-item routerLink="/data-report">Data Report</button>
      <button mat-menu-item (click)="logout()" *ngIf="loggedIn">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
